header{
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    }

img{
     border: 5px solid #FFFF00;
     display: flex;
     justify-content: center;
    }
p{
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    font-size: x-large;
    }

#buy{
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
