header{
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    font-size:xx-large;
    }

img{
     border: 5px solid #FFFF00;
     display: flex;
     justify-content: center;
    }
p{
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    }

#buy{
    border: 5px solid #FFFF00;
}

body {
    background-image: url('https://deluxe.news/wp-content/uploads/2022/05/1652779701_Final-Fantasy-7-Remake-Shares-Concept-Art-Of-Cloud-Strifes.jpg');
    background-repeat: no-repeat;
  }